repos:
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy hl tests
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        args: [--strict]
      - id: ruff-check
        name: ruff-check
        entry: uv run ruff check .
        language: system
        always_run: true
        pass_filenames: false
      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        always_run: true
        pass_filenames: false
      - id: pytest
        name: pytest
        entry: uv run pytest
        language: system
        types: [python]
        pass_filenames: false
        always_run: true
        args: [--tb=short, -v]