name: Release

on:
  release:
    types: [published]

permissions:
  id-token: write
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    environment: pypi
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"  # Use oldest supported Python version

      - name: Run build
        run: uv build

      - name: Publish with uv
        run: uv publish --trusted-publishing automatic
